@import url(/styles/header.css);
@import url(/styles/banner.css);
@import url(/styles/carrossel.css);
@import url(/styles/topicos.css);
@import url(/styles/contato.css);
@import url(/styles/rodape.css);

:root{
    --cor-de-fundo:#c4c4c4;
    --cor-principal:rgb(93, 169, 255)
    --cor-3:#31A686;
    --cor-4:#5DBE83;
    --cor-5:#8CD47C;
    --cor-6:#C0E775;
    --branco:#cacaca;
    --preto: #000000;
    --roxo: #e8a4ff;
    --amarelo: #ffffff;
    --azul: #ec3d3d;
    --azul-degrade: linear-gradient(#972525,#ff8d8d);;
    --fonte-principal: "Roboto";
    --fonte-secundaria: "Prompt";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}

h1 {
    color: var(--branco);
}

.secao1 {
    background-image: linear-gradient(#ff3f3f,rgb(255, 107, 107)0, 0));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.secao1-titulo {
    padding: 24px 0;
}

.secao1-imagem {
    width: 40%;
}

.secao1-div-conteudo{
    width: 35%;
}

.nome-img {
    width: 200px;
}

.div-apresentacao{
    text-align: center;
    padding: 16px 0;
}

.apresentacao-titulo{
    text-align: center;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 24px;
}

.icones{
    display: flex;
    justify-content: center;
}

.icon-redes{
    width: 24px;
    padding: 4px 20px;
}

.section3-img-1{
    width: 40%;
}